###############################################################################
## Imports
###############################################################################
%include 'include/monsoon/graph-xc40-cce.rc'

###############################################################################
## Name graphs
###############################################################################
{%- set name_graphs = {} %}
{%- do name_graphs.update(name_graphs_xc40_cce.items()) %}


###############################################################################
## Group definitions
###############################################################################
{%- set groups = {
        "all" : ["xc40"],
        
        "loobos" : ["xc40_loobos"],
        
        "gswp2" : ["xc40_gswp2"],
        
        "xc40" : ["xc40_cce"],
        
        "xc40_loobos" : ["xc40_cce_loobos"],
                                
        "xc40_gswp2" : ["xc40_cce_gswp2"],
    }
%}
{%- do groups.update(groups_xc40_cce.items()) %}
